In [15]:
import pandas as pd
import numpy as  np

In [16]:
data = pd.read_excel("TelcoChurn\Final_Telco_Customer_Churn_IBM.xlsx")

In [17]:
data.head()

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Count.1,...,Count.3,Quarter.1,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,1,Male,78,No,Yes,No,No,0,1,...,1,Q3,3,Churned,Yes,1,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,1,Female,74,No,Yes,Yes,Yes,1,1,...,1,Q3,3,Churned,Yes,1,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,1,Male,71,No,Yes,No,Yes,3,1,...,1,Q3,2,Churned,Yes,1,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,1,Female,78,No,Yes,Yes,Yes,1,1,...,1,Q3,2,Churned,Yes,1,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,1,Female,80,No,Yes,Yes,Yes,1,1,...,1,Q3,2,Churned,Yes,1,67,2793,Price,Extra data charges

In [18]:
print(data.columns)

Index(['Customer ID', 'Count', 'Gender', 'Age', 'Under 30', 'Senior Citizen',
       'Married', 'Dependents', 'Number of Dependents', 'Count.1', 'Country',
       'State', 'City', 'Zip Code', 'Lat Long', 'Latitude', 'Longitude',
       'Count.2', 'Quarter', 'Referred a Friend', 'Number of Referrals',
       'Tenure in Months', 'Offer', 'Phone Service',
       'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Count.3', 'Quarter.1', 'Satisfaction Score',
       'Customer Status', 'Churn Label', 'Churn Value', 'Churn Score', 'CLTV',
       'Churn Category', 'Churn Reason'],
      dtype='object')

In [19]:
data.count()

Customer ID                          7043
Count                                7043
Gender                               7043
Age                                  7043
Under 30                             7043
Senior Citizen                       7043
Married                              7043
Dependents                           7043
Number of Dependents                 7043
Count.1                              7043
Country                              7043
State                                7043
City                                 7043
Zip Code                             7043
Lat Long                             7043
Latitude                             7043
Longitude                            7043
Count.2                              7043
Quarter                              7043
Referred a Friend                    7043
Number of Referrals                  7043
Tenure in Months                     7043
Offer                                7043
Phone Service                        7043
Avg Monthly Long Distance Charges    7043
Multiple Lines                       7043
Internet Service                     7043
Internet Type                        7043
Avg Monthly GB Download              7043
Online Security                      7043
Online Backup                        7043
Device Protection Plan               7043
Premium Tech Support                 7043
Streaming TV                         7043
Streaming Movies                     7043
Streaming Music                      7043
Unlimited Data                       7043
Contract                             7043
Paperless Billing                    7043
Payment Method                       7043
Monthly Charge                       7043
Total Charges                        7043
Total Refunds                        7043
Total Extra Data Charges             7043
Total Long Distance Charges          7043
Total Revenue                        7043
Count.3                              7043
Quarter.1                            7043
Satisfaction Score                   7043
Customer Status                      7043
Churn Label                          7043
Churn Value                          7043
Churn Score                          7043
CLTV                                 7043
Churn Category                       1869
Churn Reason                         1869
dtype: int64

In [20]:
print(data.isnull().sum())

Customer ID                             0
Count                                   0
Gender                                  0
Age                                     0
Under 30                                0
Senior Citizen                          0
Married                                 0
Dependents                              0
Number of Dependents                    0
Count.1                                 0
Country                                 0
State                                   0
City                                    0
Zip Code                                0
Lat Long                                0
Latitude                                0
Longitude                               0
Count.2                                 0
Quarter                                 0
Referred a Friend                       0
Number of Referrals                     0
Tenure in Months                        0
Offer                                   0
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                          0
Internet Service                        0
Internet Type                           0
Avg Monthly GB Download                 0
Online Security                         0
Online Backup                           0
Device Protection Plan                  0
Premium Tech Support                    0
Streaming TV                            0
Streaming Movies                        0
Streaming Music                         0
Unlimited Data                          0
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Count.3                                 0
Quarter.1                               0
Satisfaction Score                      0
Customer Status                         0
Churn Label                             0
Churn Value                             0
Churn Score                             0
CLTV                                    0
Churn Category                       5174
Churn Reason                         5174
dtype: int64

In [22]:
data.tail()

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Count.1,...,Count.3,Quarter.1,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
7038,2569-WGERO,1,Female,30,No,No,No,No,0,1,...,1,Q3,5,Stayed,No,0,45,5306,NaN,NaN
7039,6840-RESVB,1,Male,38,No,No,Yes,Yes,2,1,...,1,Q3,3,Stayed,No,0,59,2140,NaN,NaN
7040,2234-XADUH,1,Female,30,No,No,Yes,Yes,2,1,...,1,Q3,4,Stayed,No,0,71,5560,NaN,NaN
7041,4801-JZAZL,1,Female,32,No,No,Yes,Yes,2,1,...,1,Q3,4,Stayed,No,0,59,2793,NaN,NaN
7042,3186-AJIEK,1,Male,44,No,No,No,No,0,1,...,1,Q3,4,Stayed,No,0,38,5097,NaN,NaN

In [23]:
data = data.dropna()

In [28]:
data.count()

Customer ID                          1869
Count                                1869
Gender                               1869
Age                                  1869
Under 30                             1869
Senior Citizen                       1869
Married                              1869
Dependents                           1869
Number of Dependents                 1869
Count.1                              1869
Country                              1869
State                                1869
City                                 1869
Zip Code                             1869
Lat Long                             1869
Latitude                             1869
Longitude                            1869
Count.2                              1869
Quarter                              1869
Referred a Friend                    1869
Number of Referrals                  1869
Tenure in Months                     1869
Offer                                1869
Phone Service                        1869
Avg Monthly Long Distance Charges    1869
Multiple Lines                       1869
Internet Service                     1869
Internet Type                        1869
Avg Monthly GB Download              1869
Online Security                      1869
Online Backup                        1869
Device Protection Plan               1869
Premium Tech Support                 1869
Streaming TV                         1869
Streaming Movies                     1869
Streaming Music                      1869
Unlimited Data                       1869
Contract                             1869
Paperless Billing                    1869
Payment Method                       1869
Monthly Charge                       1869
Total Charges                        1869
Total Refunds                        1869
Total Extra Data Charges             1869
Total Long Distance Charges          1869
Total Revenue                        1869
Count.3                              1869
Quarter.1                            1869
Satisfaction Score                   1869
Customer Status                      1869
Churn Label                          1869
Churn Value                          1869
Churn Score                          1869
CLTV                                 1869
Churn Category                       1869
Churn Reason                         1869
dtype: int64

In [24]:
print(data.shape)

(1869, 56)

In [25]:
data.tail()

,Customer ID,Count,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Count.1,...,Count.3,Quarter.1,Satisfaction Score,Customer Status,Churn Label,Churn Value,Churn Score,CLTV,Churn Category,Churn Reason
2530,5482-NUPNA,1,Female,28,Yes,No,No,No,0,1,...,1,Q3,1,Churned,Yes,1,90,5730,Competitor,Competitor had better devices
2531,1122-JWTJW,1,Male,64,No,No,Yes,Yes,2,1,...,1,Q3,1,Churned,Yes,1,82,3463,Competitor,Competitor had better devices
2532,1699-HPSBG,1,Male,44,No,No,No,No,0,1,...,1,Q3,3,Churned,Yes,1,69,4581,Competitor,Competitor offered higher download speeds
2533,8775-CEBBJ,1,Female,40,No,No,No,No,0,1,...,1,Q3,2,Churned,Yes,1,87,2029,Competitor,Competitor offered higher download speeds
2534,0639-TSIQW,1,Female,28,Yes,No,No,No,0,1,...,1,Q3,1,Churned,Yes,1,70,5620,Competitor,Competitor offered more data

In [26]:
data.dtypes

Customer ID                           object
Count                                  int64
Gender                                object
Age                                    int64
Under 30                              object
Senior Citizen                        object
Married                               object
Dependents                            object
Number of Dependents                   int64
Count.1                                int64
Country                               object
State                                 object
City                                  object
Zip Code                               int64
Lat Long                              object
Latitude                             float64
Longitude                            float64
Count.2                                int64
Quarter                               object
Referred a Friend                     object
Number of Referrals                    int64
Tenure in Months                       int64
Offer                                 object
Phone Service                         object
Avg Monthly Long Distance Charges    float64
Multiple Lines                        object
Internet Service                      object
Internet Type                         object
Avg Monthly GB Download                int64
Online Security                       object
Online Backup                         object
Device Protection Plan                object
Premium Tech Support                  object
Streaming TV                          object
Streaming Movies                      object
Streaming Music                       object
Unlimited Data                        object
Contract                              object
Paperless Billing                     object
Payment Method                        object
Monthly Charge                       float64
Total Charges                        float64
Total Refunds                        float64
Total Extra Data Charges               int64
Total Long Distance Charges          float64
Total Revenue                        float64
Count.3                                int64
Quarter.1                             object
Satisfaction Score                     int64
Customer Status                       object
Churn Label                           object
Churn Value                            int64
Churn Score                            int64
CLTV                                   int64
Churn Category                        object
Churn Reason                          object
dtype: object

In [27]:
print(data.describe())

        Count          Age  Number of Dependents  Count.1      Zip Code  \
count  1869.0  1869.000000           1869.000000   1869.0   1869.000000
mean      1.0    49.735688              0.118245      1.0  93435.752809
std       0.0    17.604893              0.549902      0.0   1823.231029
min       1.0    19.000000              0.000000      1.0  90001.000000
25%       1.0    35.000000              0.000000      1.0  92117.000000
50%       1.0    50.000000              0.000000      1.0  93292.000000
75%       1.0    65.000000              0.000000      1.0  95258.000000
max       1.0    80.000000              7.000000      1.0  96150.000000

          Latitude    Longitude  Count.2  Number of Referrals  \
count  1869.000000  1869.000000   1869.0          1869.000000
mean     36.026801  -119.670474      1.0             0.521134
std       2.497264     2.149758      0.0             1.094667
min      32.555828  -124.301372      1.0             0.000000
25%      33.890046  -121.719489      1.0             0.000000
50%      35.490705  -119.285484      1.0             0.000000
75%      38.055562  -117.810896      1.0             1.000000
max      41.962127  -115.191857      1.0             9.000000

       Tenure in Months  ...  Total Charges  Total Refunds  \
count       1869.000000  ...    1869.000000    1869.000000
mean          17.979133  ...    1531.796094       1.518983
std           19.531123  ...    1890.822994       7.041632
min            1.000000  ...      18.850000       0.000000
25%            2.000000  ...     134.500000       0.000000
50%           10.000000  ...     703.550000       0.000000
75%           29.000000  ...    2331.300000       0.000000
max           72.000000  ...    8684.800000      49.570000

       Total Extra Data Charges  Total Long Distance Charges  Total Revenue  \
count               1869.000000                  1869.000000    1869.000000
mean                   7.158909                   433.917549    1971.353569
std                   24.857342                   650.358302    2438.441813
min                    0.000000                     0.000000      21.610000
25%                    0.000000                    31.160000     175.850000
50%                    0.000000                   139.080000     893.550000
75%                    0.000000                   527.940000    2888.760000
max                  150.000000                  3508.820000   11195.440000

       Count.3  Satisfaction Score  Churn Value  Churn Score         CLTV
count   1869.0         1869.000000       1869.0  1869.000000  1869.000000
mean       1.0            1.736223          1.0    81.777956  4149.414660
std        0.0            0.808466          0.0     9.166870  1189.370707
min        1.0            1.000000          1.0    65.000000  2003.000000
25%        1.0            1.000000          1.0    74.000000  3101.000000
50%        1.0            2.000000          1.0    83.000000  4238.000000
75%        1.0            2.000000          1.0    90.000000  5166.000000
max        1.0            3.000000          1.0    96.000000  6484.000000

[8 rows x 23 columns]